.lenta{
    width: 90%;
    height: 54px;
    padding: 0px 63.4375px;
    align-items: center;
    display: flex;
    flex-direction: row;
}
body{
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
.microsoft_logo{
    width: 108px;
    height: 23px;
    
}
.logo_ssylka{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 137px;
    height: 54px;
}
.left_lenta{
    float:left;
    display: flex;
    align-items: center;
    width: 73%;
    height: 100%;
}
.right_lenta{
    float:right;
    width:27%;
    height: 100%;
    display: flex;
    align-items: center;
}
.ssylki{
    text-decoration: none;
    font-size: 13px;
    margin-left: 20px;
    color: #262626;
}
.right{
    float: right;
}
.ssylki:hover{
    border-bottom: 2px solid #262626;
    margin-top: 2px;
}
.lupa{
    height: 27px;
    float:right;
    margin-top: -3px;
}
.strelka{
    height: 8px;
    margin-left: 7px;
    margin-top: 5px;
}
.voiti{
    height: 45px;
    margin-left: 4px;
}
.microsoft365pic{
    height: 470px;
    width: 98%;
    margin-left: 1%;
    background-image: url(https://wallpapers.com/images/hd/windows-10-purple-gradient-mountains-x62zrtwxns2c34hq.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.microsoft365pic::before {
    content: "";
    position: absolute;
    top: 54px;
    margin-left: 0%;
    width: 98%;
    height: 470px;
    background-color: rgb(0, 0, 0, 0.5);
  }

.pomochnik{
    position: relative;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    margin-left: 100px;

}
.echeodin365{
    margin-top: 60px;
    font-size: 35px;
    font-weight: bold;
    color:white;
}
.obiasnenie{
    font-size: 15px;
    font-weight: bold;
    color:white;
    margin-top: -10px;
}

.dliaknopok{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.dlia6{
    background-color: white;
    color: black;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.dlia6 p{
    margin-top: 12px;
}
.moreright{
    width: 30px;
    font-size: 20px;
    margin-left: 10px ;
}
.dlia1{
    margin-left: 20px;
    margin-top: 12px;
    color: white;
    font-weight: bold;
}
.dlia1moreright{
    font-size: 20px;
    margin-left: 5px;
}
.lower_part{
    margin-top: 50px;
    margin-bottom: 25px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;

}
.MC_teams{
    width: 19%;
    height: 450px;

    margin-right: 35px;
    float: left;
}
.MC_teams img{
    width: 100%;

}
.MC_win{
    width: 20%;
    height: 450px;

    float: left;
}
.MC_win img{
    width: 100%;
}
.text{
    color: rgb(76, 79, 174);
}
.text img{
    width: 8px;
}
.lower_part a:hover{
    text-decoration: underline;
}